/* マウスストーカー */
svg {
  display: none;
}

.Cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  transform-origin: center center;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 1000;
  filter: url("#goo");
}

.Cursor span {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  background-color: #ffff00;
  transform-origin: center center;
  transform: translate(-50%, -50%);
}
/* マウスストーカー ここまで */


/* 自己紹介の空白用 */
.margin-right-30{
    margin-right: 30px;
}
.margin-right-60{
    margin-right: 60px;
}
.margin-right-80{
    margin-right: 80px;
}
.margin-right-130{
    margin-right: 130px;
}

  /* ヘッダー */
  header{
    top: 0;
    right: 0;
    width: 100%;
    z-index: 998;
  }

  /* ヘッダータイトル */
  .header-title-container{
    text-align: center;
  }

   .headertitle-img{
    position: relative;
    top: 0px;
    width: 100%;
    height: auto;
    padding: 70px;
  }

  /* ヘッダーリンク */
.link{
    text-align: right;
    display: inline-block;
  }

  /* フッター */
  footer{
    height: 200px;
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    z-index: 998;
  }

  .footer-content{
    padding:30px
  }

  footer p{
    font-size: 20px;
    color:#d5d5d5;
  }

  .footer-link a{
    display: inline-block;
    margin:20px;
  }

/* フッターのボタン */
/* ボタンのスタイル */
.buttonOutlineGradient {
  text-decoration:none;
  position: relative;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 64px;
  padding: 2px;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  overflow-wrap: anywhere;
  background: linear-gradient(135deg, #6fa24a, #15a1cc);
  border-radius: 32px; /* (buttonの高さ / 2) の値 */
}

.buttonOutlineGradient::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(135deg, #6fa24a, #15a1cc);
  filter: blur(10px);
  border-radius: 32px; /* (buttonの高さ / 2) の値 */
  opacity: 0;
}

.buttonOutlineGradient_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #222;
  border-radius: 32px; /* (buttonの高さ / 2) の値 */
}

@media (any-hover: hover) {
  .buttonOutlineGradient::before {
    transition: opacity 0.2s;
    will-change: filter;
  }

  .buttonOutlineGradient:hover::before {
    opacity: 1;
  }
}
/* フッターのボタンここまで */

   /* 見出し画像 */
   .headline-container{
    text-align: center;
  }

   .headline-img{
    position: relative;
    top: 10px;
    width: 30%;
    height: auto;
  }
  
  /* 共通 */
  .section {
    width: 100%;
    padding: 100px 0;
    margin:0px 0px 40px 0px;
    background-image: url("../assets/gridLine_shadow.png");
    background-size: 85% 95%;
    background-repeat:no-repeat;
    background-position: center;
    position:relative;
  }

  .container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
  }
  
  /* 作品集のタイトル文字 */
  .heading {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-align: center;
  }

  /* 星の画像 */
  .starlight{
    animation: flashing 4s infinite;
  }
  @keyframes flashing{
    0%{
      opacity: 1;
    }
    70%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  /* セクション間の画像 */
  .imgContent{
    position: relative;

    /* 自分の写真 */
    & .misato{
      position: absolute;
      width: 320px;
      top: -45px;
      right: 160px;
      transform: scale(1) rotate(0deg);
      transition: filter 0.3s;

      &:hover{
        filter: brightness(1.2);
        animation: poyo0 .6s;
      }
    }

    /* ダーツの写真 */
    & .darts{
      position: absolute;
      width: 245px;
      top: 155px;
      right: 60px;
      transform: scale(1) rotate(0deg);
      transition: filter 0.3s;

      &:hover{
        filter: brightness(1.2);
        animation: poyo2 .6s;
      }
    }

    /* ビールの写真 */
    & .sake{
      position: absolute;
      width: 270px;
      top: 8px;
      left: 93px;
      transform: scale(1) rotate(0deg);
      transition: filter 0.3s;

      &:hover{
        filter: brightness(1.2);
        animation: poyo2 .6s;
      }
    }

    /* ダーツ画像大 */
    & .misato2{
      position: absolute;
      right: 30px;
      width: 260px;
      height: auto;
      transform: scale(1) rotate(0deg);
      transition: filter 0.3s;
      bottom: 50px;

      &:hover{
        filter: brightness(1.2);
        animation: poyo0 .6s;
      }
    }

    /* ケーキ */
    & .cake{
      position: absolute;
      bottom: 45px;
      width: 230px;
      height: auto;
      transform: scale(1) rotate(0deg);
      transition: filter 0.3s;
      right: 222px;

      &:hover{
        filter: brightness(1.2);
        animation: poyo0 .6s;
      }
    }
  }
  

  
  /* 画像のアニメーション */
  @keyframes poyo0 {
    from, to { transform: scale(1) rotate(0deg); }
    10% { transform: scale(1.2) rotate(0deg); }
    40% { transform: scale(.9) rotate(0deg); }
    60% { transform: scale(1.04) rotate(0deg); }
    80% { transform: scale(.98) rotate(0deg); }
  }

  @keyframes poyo1 {
    from, to { transform: scale(1) rotate(0deg); }
    10% { transform: scale(1.2) rotate(0deg); }
    40% { transform: scale(.9) rotate(0deg); }
    60% { transform: scale(1.04) rotate(0deg); }
    80% { transform: scale(.98) rotate(0deg); }
  }

  @keyframes poyo2 {
    from, to { transform: scale(1) rotate(0deg); }
    10% { transform: scale(1.2) rotate(0deg);; }
    40% { transform: scale(.9) rotate(0deg);; }
    60% { transform: scale(1.04) rotate(0deg);; }
    80% { transform: scale(.98) rotate(0deg);; }
  }


  
  /* 普通のセクション */
  .normal-text {
    text-shadow: 1px 1px 4px #000000;
    font-weight: 500;
    font-size: 27px;
    letter-spacing: 0.05em;
    margin-top: 60px;
    /* backdrop-filter: blur(12px); */
  }

  /* 横スクロールセクション */
  .side-scroll {
    background-color: #1b171780;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .side-scroll.section{
    padding-bottom: 0px;
  }

  .side-scroll-list-wrapper {
    position: relative;
    width: 100%;
    height: 550px;
  }
  
  .side-scroll-list {
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
    gap: 0 60px;
  }
  
  /* 横並びの作品の箱 */
  .side-scroll-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 32px;
    min-width: 300px;
    transition: all 0.3s;
  }
  .side-scroll-item:hover{
    transform: scale(1.06);
    filter: brightness(1.2);
  }

    /* 横スクロールセクションの作品文字 */
    .side-scroll-item p{
      font-size: 25px;
      text-align: center;
      margin-top: 15px;
    }

    .side-scroll-item a{
      text-decoration: none;
      color: #fff;
    }
    

  /* 横並び作品画像 */
  .side-scroll-item img{
    box-shadow: 0px 0px 25px 5px rgb(255, 255, 255);
    width:500px;
    height:auto;
  }

  .side-scroll-item

  
  .side-scroll-item + .side-scroll-item {
    margin-left: 60px;
  }


  .dartcontent-Comment p{
    font-size: 50px;
    text-align: center;
  }